{
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-class-properties"
    ],
    "presets": ["@babel/preset-react", "@babel/preset-flow"],
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "ie >= 11"]
                        }
                    }
                ]
            ]
        },

        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current",
                            "browsers": "last 1 chrome version"
                        }
                    }
                ]
            ],
            "plugins": ["react-hot-loader/babel"]
        },

        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}
