{
    "plugins": ["babel-plugin-react-native-web", "transform-class-properties"],
    "env": {
        "production": {
            "presets": [
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-flow",
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "ie >= 11"]
                        }
                    }
                ]
            ]
        },

        "development": {
            "presets": [
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-flow",
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current",
                            "browsers": "last 1 chrome version"
                        }
                    }
                ]
            ]
        },

        "test": {
            "presets": [
                "@babel/preset-stage-1",
                "@babel/preset-react",
                "@babel/preset-flow",
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}
